@tailwind base;
@tailwind utilities;
@tailwind components;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply text-sm text-white transition duration-150 ease-in-out;
}

@layer base{
    body{
        @apply bg-black;
    }
}
