
// ----------- Container -------------- //
.wrapper{
  @apply max-w-7xl m-auto px-4 xl:px-0;
}

// ---------- sizing ---------- //
h1,
.heading{
  @apply text-3xl font-bold text-font m-0 leading-none;
}

h2,
.subheading{
  @apply text-base text-font-200 m-0 leading-none;
}

// ----------- Buttons ----------- //
.btn{
  @apply py-2 px-5 md:px-10 rounded-xl text-sm md:text-base border;
}
.btn-primary{
  @extend .btn;
  @apply border-primary bg-primary;
}
.btn-secondary{
  @extend .btn;
  @apply border-white;
}

.rounded-lg-img img{
    border-radius: 0.5rem;
}
.rounded-full-img img{
    border-radius: 9999px;
}
.rounded-l-lg-img img{
    border-top-left-radius: 0.5rem; 
    border-bottom-left-radius: 0.5rem,; 
}

